PORT=8080
JWT_SECRET=change_this_to_a_long_random_secret
CORS_ORIGIN=http://localhost:3000
MONGODB_URI=mongodb+srv://Dananjaya:<db_password>@cluster0.bv7xtaw.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=nanasa_lms
MONGODB_COLLECTION=app_state
